@model IEnumerable<CleanicaFinal.Formulario_de_Satisfacao>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4191f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

th {
    text-align: center;
    background-color: #1d211e;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}
</style>
</head>
<body>
    <div align="left" id="mySidenav" class="sidenav">
        <h1 style="color:red;" align="center">@ViewBag.username</h1>
        <h5 style="color:red;" align="center">@ViewBag.email</h5>
        <a href="@Url.Action("Index", "Cliente" , new { email=ViewBag.email, username=ViewBag.username, info="Home" }, Request.Url.Scheme)"><span>Home</span></a>
        <a href="@Url.Action("GetServicos", "Cliente" , new { email=ViewBag.email, username=ViewBag.username }, Request.Url.Scheme)"><span>Serviços</span></a>
        <a href="@Url.Action("TarefasPendentes", "Cliente" , new { email=ViewBag.email, username=ViewBag.username }, Request.Url.Scheme)"><span>Tarefas Pendentes</span></a>
        <a href="@Url.Action("AlterarDados", "Cliente" , new { email=ViewBag.email, username=ViewBag.username }, Request.Url.Scheme)"><span>Alterar Dados</span></a>
        <a href="" onclick="closeNav()">Fechar</a> <br /> <br />
        <a href="@Url.Action("Index", "Home", new { }, Request.Url.Scheme)"><span>Terminar Sessão</span></a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <h1 align="center">Tarefas Pendentes</h1><br />

    <table id="myTable" border="1" align="center">
        <tr>
            <th width="100">ID Formulário</th>
            <th width="200">Funcionário</th>
            <th width="150">Sugestões</th>
            <th width="50">Pontuação</th>
            <th width="100">Clique Para Preencher</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.id_FormularioS)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Funcionario_Utilizador_email)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.sugestoes)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.pontuacao)
            </td>
            <td align="center">
                <a href="@Url.Action("MostrarForm", "Cliente", new { email = ViewBag.email, username = ViewBag.username, idForm = item.id_FormularioS}, Request.Url.Scheme)" >Preencher</a>
            </td>
        </tr>
        }
    </table>
</body>
</html>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function myFunction(x) {
        var y = x.sectionRowIndex;
        var z = document.getElementById("myTable").rows[y].cells[0].innerHTML;
        return z;
    }
</script>
