@model List<CleanicaFinal.ServicosRealizado>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

th {
    text-align: center;
    background-color: #1d211e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
</style>
</head>
<body>
    <div align="left" id="mySidenav" class="sidenav">
        <h1 style="color:red;" align="center">@ViewBag.username</h1>
        <h5 style="color:red;" align="center">@ViewBag.email</h5>
        <a href="@Url.Action("Index", "Funcionario", new { email = ViewBag.email, username = ViewBag.username, info = "Home" }, Request.Url.Scheme)"><span>Home</span></a>
        <a href="@Url.Action("ConsultaHistorico", "Funcionario", new { email = ViewBag.email, username = ViewBag.username }, Request.Url.Scheme)"><span>Histórico de Serviços</span></a>
        <a href="@Url.Action("AlterarDadosFunc", "Funcionario", new { email = ViewBag.email, username = ViewBag.username }, Request.Url.Scheme)"><span>Alterar Dados</span></a>
        <a href="" onclick="closeNav()">Fechar</a> <br /> <br />
        <a href="@Url.Action("Index", "Home", new { }, Request.Url.Scheme)"><span>Terminar Sessão</span></a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <h1 align="center">Histórico de Serviços</h1><br />

    <table border="1" align="center">
        <tr>
            <th width="225">Cliente</th>
            <th width="200">Morada</th>
            <th width="125">Data</th>
            <th width="50">Preço</th>
            <th width="100">Dimensão</th>
            <th width="75">Produtos</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Cliente_Utilizador_email)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.morada)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.preco) €
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.dimensao)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.prods)
            </td>
        </tr>
        }
    </table>
</body>
</html>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
