@model List<CleanicaFinal.ServicosRealizado>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

th {
    text-align: center;
    background-color: #1d211e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
/* Input */
input[type=text], input[type=password], input[type=number] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Botão de Submeter */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
</style>
</head>
<body>
    <div align="left" id="mySidenav" class="sidenav">
        <h1 style="color:red;" align="center">@ViewBag.username</h1>
        <h5 style="color:red;" align="center">@ViewBag.email</h5>
        <a href="@Url.Action("Index", "Funcionario", new { email = ViewBag.email, username = ViewBag.username, info = "Home" }, Request.Url.Scheme)"><span>Home</span></a>
        <a href="@Url.Action("ConsultaHistorico", "Funcionario", new { email = ViewBag.email, username = ViewBag.username }, Request.Url.Scheme)"><span>Histórico de Serviços</span></a>
        <a href="@Url.Action("AlterarDadosFunc", "Funcionario", new { email = ViewBag.email, username = ViewBag.username }, Request.Url.Scheme)"><span>Alterar Dados</span></a>
        <a href="" onclick="closeNav()">Fechar</a> <br /> <br />
        <a href="@Url.Action("Index", "Home", new { }, Request.Url.Scheme)"><span>Terminar Sessão</span></a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <h1 align="center">Preencher Formulário de Realização</h1><br />

    <div align="center">
        @using (Html.BeginForm("PreencheFormServ", "Funcionario", new { email = ViewBag.email, username = ViewBag.username }, FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                Cliente     <br />  <input type="text" name="cliente" value=@ViewBag.cliente readonly /> <br />
                Data        <br />  <input type="text" name="data" value=@ViewBag.data readonly /> <br />
                Duração     <br />  <input type="number" name="duracao"  required /> <br />
                Observações <br />  <input type="text" name="obs" /> <br />
            </fieldset>
            <input type="submit" value="Submeter" />
        }
    </div>
</body>
</html>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
